// ********************************
// Modules
// ********************************
@import 'modules/resets.scss';
@import 'modules/colors.scss';
@import 'modules/mixins.scss';
@import 'modules/typography.scss';
@import 'modules/resets-bootstrap.scss';
@import 'modules/media.scss';
@import 'modules/nav.scss';
@import 'modules/buttons.scss';

// ********************************
// Views
// ********************************
@import 'views/gamer-profile.scss';
@import 'views/leaderboard.scss';

// ********************************
// Global
// ********************************
.section{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;
        align-items:center;
        padding:40px;
}
.section-vertical{
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        justify-content: center;
        align-items:center;
        padding:40px;
}


  